@if (Session["userID"] == null)
{
    Response.Redirect("~/Hata/InsufficientPrivileges");
}
@model TourApp.Models.Rehber

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Rehber", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rehber Düzenle</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-vertical">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Ad</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberAd, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "İsim" } })
                                            <div class="form-control-position">
                                                <i class="bx bx-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Kullanıcı Adı</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberUsername, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kullanıcı Adı" } })
                                            <div class="form-control-position">
                                                <i class="bx bx-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "E-mail" } })
                                            <div class="form-control-position">
                                                <i class="bx bx-mail-send"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberTelefon, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Telefon" } })
                                            <div class="form-control-position">
                                                <i class="bx bx-mobile"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Şifre</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Şifre" } })
                                            <div class="form-control-position">
                                                <i class="bx bx-lock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Cinsiyet</label>
                                        <select class="form-control" id="rehberCinsiyet" name="rehberCinsiyet">
                                            <option value="Bay">Cinsiyeti Seçin</option>
                                            <option value="Bay">Bay</option>
                                            <option value="Bayan">Bayan</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Adres</label>
                                        <div class="position-relative has-icon-left">
                                            @Html.EditorFor(model => model.rehberAdres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres", } })
                                            <div class="form-control-position">
                                                <i class="bx bx-lock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Bildiği Diller</label>
                                        <select class="select2 form-control select-light-danger" multiple="multiple" id="diller" name="diller">
                                            <option value="İngilizce">İngilizce</option>
                                            <option value="Türkçe">Türkçe</option>
                                            <option value="Almanca">Almanca</option>
                                            <option value="Fransızca">Fransızca</option>
                                            <option value="Çince">Çince</option>
                                            <option value="Arapça">Arapça</option>
                                        </select>
                                        @*@Html.DropDownList("diller", (MultiSelectList)ViewBag.Diller, new { multiple = "multiple", @class = "select2 form-control" })*@
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.rehberPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <input type="file" name="rehberPhoto" id="rehberPhoto" value="" accept=".jpg,.png,.gif,.JPEG,.jpeg" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.rehberPhoto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-start">
                                    <button type="submit" class="btn btn-light-primary mr-1 mb-1">Onayla</button>
                                    <button type="reset" class="btn btn-light-secondary mr-1 mb-1">İptal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri", "Index")
</div>
<link rel="stylesheet" type="text/css" href="~/frest-admin-v1.0/app-assets/vendors/css/forms/select/select2.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/frest-admin-v1.0/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
<script src="~/frest-admin-v1.0/app-assets/js/scripts/forms/select/form-select2.js"></script>