@model IList<TourApp.Models.Kafile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Kafileler-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-danger">Kafileler</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <p class="card-text">
                        Kafile Bilgilerini Görün
                    </p>
                    <div class="table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr>
                                    <th>Kafile</th>
                                    <th>Kişi Sayısı</th>
                                    <th>Ülke</th>
                                    <th>Tur</th>
                                    <th>Rehber</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.kafileAd</td>
                                        <td>@item.kafileKisiSayisi</td>
                                        <td>@item.kafileUlke</td>
                                        <td>@item.Tur.turAd</td>
                                        <td>@item.Tur.Rehber.rehberAd</td>
                                        @if (Session["userID"] != null)
                                        {
                                            <td>
                                                <a href="@Url.Action("KafileEdit", "Kafile", new { kafileID = item.kafileID })"><i class="badge-circle badge-circle-light-primary bx bx-edit font-medium-1"></i></a>
                                                <a href="#"><i class="badge-circle badge-circle-light-danger bx bx-trash font-medium-1" data-toggle="modal" data-target="#DeleteConfirmation" onclick="DeleteKafileRecord(@item.kafileID)"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("kafileID")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- DELETE MODAL-->
<div class="modal fade text-left" id="DeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel120">Seçilen Kafile Bilgisi Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="modal-body">
                Seçilen Kafile Bilgisini silmek istediğinize emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">İptal</span>
                </button>
                <button type="button" class="btn btn-danger ml-1" onclick="ConfirmDelete()">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Onayla</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/frest-admin-v1.0/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
<script src="~/frest-admin-v1.0/app-assets/vendors/js/extensions/polyfill.min.js"></script>
<script src="~/frest-admin-v1.0/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
<!-- DELETE Kafile -->
<script>
    //Show The Popup Modal For DeleteComfirmation
    var DeleteKafileRecord = function (kafileID) {
        $("#kafileID").val(kafileID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var kafileID = $("#kafileID").val();
        $.ajax({
            type: "POST",
            url: "/Kafile/DeleteKafileRecord?kafileID=" + kafileID,
            success: function (result) {
                swal("Tebrikler!", "Silme işlemi Başarılı", "success");
                window.location.href = "/Kafile/Index";
                $("#DeleteConfirmation").modal("hide");
                $("#modal .close").click();
            }
        })
    }
</script>